section.bottom-banners
    div.left-banner
        section.banner-img
            img(src="assets/img/desktop/banner_left.png")
            h2.left-banner-header Adidas Blue<br>
                span.sub-write For men
    div.right-banner
        section.banner-img.container-for-animated-sm-banner
            img(src="assets/img/desktop/banner_right1.png").changeDeskImg
            div.animated-small-banner
                h2.animated-title Repair Patches<br>
                    span.banner-price &#163;150.50
        section.banner-img.hide-mob
            img(src="assets/img/desktop/banner_right2.png")
            h2.sale-title Sale<br>
                span.small-title -70%