div.store-locator
    iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4966.129616781005!2d-0.1273684!3d51.512027!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604cb878e81b3%3A0x91f10fa364452046!2sCovent+Garden%2C+London%2C+UK!5e0!3m2!1sen!2sua!4v1467799394286", frameborder="0" style="border:0" allowfullscreen="")
    div.store-locator-description
        p The shops in the city centre are open six days a week (Monday to Saturday).
        p On Saturday opening hours are from 10:00 to 18:00.
        p You can get in touch with the team via email or phone.
        p contactus@joythestore.com
        p 02032 845 944
        p If emailing, please ensure to include your name and order number so we can look into your query. We will answer your email as quickly as possible, however, during busier times or over Bank Holidays, this may take slightly longer. If your query is urgent, please get in touch via phone.
        p If you leave an answerphone message, make sure to leave your name, order number and contact number.