div.form-container
    form.form(name="order-form")
        input(type="text", placeholder="Type your name", required).name.field
        input(type="email", placeholder="Type your email", required).email.field
        input(type="text", placeholder="Type your mobile-phone", required).phone.field
        button(type="submit", ng-click="submitOrder()").order-btn.buttons Order

