.store-locator {
    padding: 40px;
}
.store-locator, iframe {
    display: inline-block;
}

iframe {
    width: 50%;
    height: 400px;
}

.store-locator-description {
    display: inline-block;
    width: 40%;
    vertical-align: top;
    margin-left: 20px;
    color: dimgrey;
    font-size: 14px;
    margin-top: -20px;

}

.store-locator-description p {
    line-height: 2;
}

@media (max-width: 700px) {
    iframe, .store-locator-description {
        width: 100%;
    }

    .store-locator-description {
        margin-top: 0px;
        margin-left: 0;
    }

    .store-locator {
        padding: 20px;
        text-align: center;
    }
}