section.banners
    div.left-banner
        figure
            img(src="assets/img/desktop/banner_1.png").desktop-banner-img
            figcaption Nike Red<br>
                span.sub-write.banner-inscr New
    div.right-banner.hide-mob
        figure
            img(src="assets/img/desktop/banner_2.png")
            figcaption Caps & Hats <br>
                span.sub-write.banner-inscr Sale -50%
    div.right-banners-container
        div.right-banner-tablet
            figure
                img(src="assets/img/tablet/bag.png")
                figcaption.slider-inscription Sale <br>
                    span.sub-write.banner-inscr -70%
        div.right-banner-tablet-hover
            figure
                img(src="assets/img/tablet/clock.png")
                figcaption.slider-inscription Accessories <br>
                    span.sub-write.banner-inscr 33 models
    div.clearfix